@import "tailwindcss";


.category.active {
  background-color: #FF0000;
}

.open-cart {
  transform: translate(0%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.overlay {
  z-index: 10000; 
  background: #ffffff0d;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


    @keyframes gradientBorderAnimation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
      .bg-animated-gradient-border {
        background: linear-gradient(270deg, #ef2222, #1A202C, #ef4444);
        background-size: 600% 600%;
        animation: gradientBorderAnimation 6s ease infinite;
      }
      
      
    

      .product-card {
        background-color: white;
        border-radius: 1rem;
        padding: 1rem;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        position: relative;
      }
      
      .product-card:hover {
        transform: translateY(-0.25rem);
      }
      
      .image-container {
        background-color: #f3f4f6;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
      }
      
      .product-image {
        aspect-ratio: 33 / 35;
        width: 100%;
        object-fit: contain;
      }
      
      .product-details {
        display: flex;
        flex-direction: column;
      }
      
      .product-header {
        display: flex;
        gap: 0.5rem;
      }
      
      .product-name {
        font-size: 1rem;
        font-weight: bold;
        color: #1f2937;
      }
      
      .product-price {
        font-size: 1rem;
        font-weight: bold;
        color: #1f2937;
        margin-left: auto;
      }
      
      .product-description {
        color: #6b7280;
        font-size: 0.8125rem;
        margin-top: 0.5rem;
      }
      
      .product-actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 1rem;
      }
      
      .btn-add {
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
        font-weight: bold;
        width: 100%;
        background-color: #dc2626;
        color: white;
        text-align: center;
        border: none;
        border-radius: 0.5rem;
        outline: none;
        transition: background-color 0.2s ease-in-out;
      }
      
      .btn-add:hover {
        background-color: #b91c1c;
      }
      
